:root {
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-white: #ffffff;
  --color-underbutton: #4a4a4a;
  --color-cards: #000000;
  --color-copyright: #747272;
  --color-backdrop: #000000b4;
  --mobile-text-meain: rgba(1, 28, 68, 1);
}

$bp-phone: 480px;
$bp-tablets: 768px;
$bp-desktop: 1200px;
