.pagination {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  &__button {
    width: 11px;
    height: 11px;
    background-color: var(--color-copyright);
    border-radius: 50%;

    &--active {
      background-color: var(--color-primary-light);
    }
  }
}
